html, body {
  width:100%;
  margin:0;
  padding:0;
  border: 0;
  outline: 0;
}
h1, h2, h3, h4 {
  font-family: "eurostile";
}
body {
  background-color: #171717;
  font-family: 'Roboto Slab';
}

::-webkit-scrollbar {
  width: .4em;
}
::-webkit-scrollbar-track {
  margin-block: .5em;
}
::-webkit-scrollbar-thumb {
  background-color: #818589;
  border-radius: 100vw;
}

/*    HEADER    */

.header-box {
  width: 100%;
  box-shadow: 0 10px 5px -2px black;
}
.header-container {
  /*max-width: 840px;*/
  margin: 20px auto;
  margin-top: 0;
  padding: 10px 4%;
  color: white;
  font-family: "eurostile";
  
}
.header-grid {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto auto 100px ;
  justify-content: end;
  padding: 20px 0;
}
.header-item {
  padding: 10px;
}
.header-number {
  color:  #F76236;
}
.resume {
  border: 2px solid #F76236;
  padding: 6%;
  border-radius: 10px;
  text-align: center;
}

/*    INTRO    */

.intro-container {
  max-width: 1000px;
  margin: 50px auto;
  margin-bottom: 35%;
}
.intro {
  text-align: left;
  color:#818589;
}
.intro-name {
  color: #F76236;
  font-size: 120px;
  margin: 0px;
}
.intro-study {
  color: white;
  font-size: 30px;
  margin: 0px;
}
.quote-container {
  max-width: 500px;
  margin-top: 10px;
}

/*    ABOUT ME    */

.about-container {
  max-width: 840px;
  margin: 50px auto;
  margin-bottom: 28%;
}
.about-container > h1 {
  color: white;
  text-align: left;
  padding-top: 5%;
}
.about-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 50px;
}
.about-text-box {
  color: #818589;
}
.about-image-box {
  justify-content: center;
  align-self: center;
  position: relative;
}
.profile-image {
  width: 300px;
  height: 300px;
  margin: 4%;
}
.about-image-box::after{
  content:'';
  position: absolute;
  z-index:-1;
  bottom:-2%;
  left: 10%;
  width:300px;
  height:300px;
  border: 2px solid #F76236;
}
.about-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-list-grid > ul{
  list-style-type: square;
  margin: 0;
  padding-left: 20px;
  color: #F76236;
}
.about-list-text {
  color: #818589;
}

/*    PROJECTS    */

.projects-container {
  max-width: 840px;
  margin: 50px auto;
  margin-bottom: 15%;
}
.projects-container > h1 {
  color: white;
  padding-top: 5%;
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}
.projects-image-box-right {
	justify-self: right;
	position: relative;
}
.projects-image-box-left {
	justify-self: left;
	position: relative;
}
.projects-image {
  height: 300 px;
  width: 300 px;
  border-radius: 10%;
  box-shadow: 0 20px 40px 0px rgba(100, 100, 100, .16);
  transition: all ease-in-out .2s;
}
.projects-image:hover {
  box-shadow: 0 40px 80px 0px rgba(169, 169, 169, .16);
  filter: brightness(0.65);
}
.projects-image-box-right > h4, .projects-image-box-left > h4 {
	position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
} 
.projects-image-box-right:hover > h4, .projects-image-box-left:hover > h4 {
  visibility: visible;
}

/*    Skills    */

.skills-container {
  max-width: 840px;
  margin: 50px auto;
  margin-bottom: 15%;
}
.skills-container > h1 {
  color: white;
  padding-top: 5%;
}
.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.skills-image {
  width: 100px;
  height: 100px;
  padding: 19%;
}
.skills-box > p {
  color: #818589;
  text-align: left;
}
.skills-title {
  font-family: "eurostile";
  color: #F76236;
}

.contact-container {
  max-width: 840px;
  margin: 50px auto; 
  color: white;
}
.contact-grid {
  display: grid;
  grid-template-columns: 30% 70%;
}


.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  transition-duration: 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden-grid {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition-duration: 1s;
}
.show-grid {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.skills-box:nth-child(2) {
  transition-delay: 200ms;
}
.skills-box:nth-child(3) {
  transition-delay: 400ms;
}
.skills-box:nth-child(4) {
  transition-delay: 600ms;
}
.skills-box:nth-child(5) {
  transition-delay: 800ms;
}

.projects-image-box-left {
  transition-delay: 500ms;
}
.projects-image-box-left:nth-child(2) {
  transition-delay: 250ms;
}
.projects-image-box-right {
  transition-delay: 350ms;
}
.projects-image-box-right:nth-child(1) {
  transition-delay: 100ms;
}